.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  gap: 1.6rem;
}

.menuLink{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.3s ease-in-out;
  padding: 1.2rem;
  border-radius: 0.8rem;
  }

/* filter deixa a menu um pouco mais escura */
.menuLink:hover{
  filter: brightness(80%);
}

/*Adicionando estilo ao icone  */

.menuLink svg{
  width: 2.4rem;
  height: 2.4rem;
}