.container-fluid {
  max-width: auto;
}

.container {
  max-width: 98rem; /*ou 980pixels*/
  margin: 0 auto; /*para centralizar a div com 0cima baixo e auto dos lados */
}

.content {
  margin: 3.2rem;
  
}
