*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 65.5%;
 
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem; /*16REm é igual a 16px Porque definimos o html com fontsize de 65.5%*/
  background-color: var(--gray-900);
  color: var(--text-default);
}


.container-fluid{
  max-width: auto;
  background-color: purple;
}

.container{
  max-width: 98rem; /*ou 980pixels*/
  margin: 0 auto;  /*para centralizar a div com 0cima baixo e auto dos lados */ 
  background-color: red; 

}

.content{
 margin: 3.2rem;
 background-color: blue;
}

